test/trang_conversion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="canvas">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="hans"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hans">
    <xs:complexType>
      <xs:attribute name="peter" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
